.main__centerblock {
}

.centerblock__h2 {
}

.centerblock__filter {
}

.centerblock__content {
}

.filter__title {
}

.filter__button {
	/* font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid #ffffff;
	border-radius: 60px;
	padding: 6px 20px; */
}

/* .filter__button:not(:last-child) {
	margin-right: 10px;
} */

.content__title {
}

.content__playlist {
}

.playlist-title__col {
}

.playlist-title__svg {
}

.col01 {
}

.col02 {
}

.col03 {
}

.col04 {
}

.playlist__item {
}

.playlist__track {
}

.track__title-image {
}

.track__title-svg {
}

.track__title-link {
}

.track__title-span {
}

.track__author {
}

.track__author-link {
}

.track__album {
}

.track__album-link {
}

.track__time-svg {
}

.track__time-text {
}

.filter__block {
}

.dropdown__list {
}

/* .dropdown__list.active {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
} */

.dropdown__link {
	color: #fff;
	transition: 0.3s;
}

.dropdown__link:hover {
	color: #b672ff;
	border-bottom: 1px solid #b672ff;
}

.color-active {
	border-color: #ad61ff;
	color: #ad61ff;
}
